* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../images/Blanco.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

}

#contenido {
	width: 100%;
	height: 100vh;
	background-color: rgba(255,255,255,0.3);
}

#contenido header {
	width: 25%;
	margin-top: 0%;
	height: 20%;
	background-color: rgba(255,255,255,1);
	/* background-image: url('../images/White.jpg'); */
	opacity: 0.5;
}

#contenido header #imgpro img {
	/*margin-top: -23%;
	margin-left: -50%;
	left: 50%;
	top: 50%;*/
	height: 100%;
	width: 100%;
	
}

#contenido .pestañas{
	width:  25%;
	height: 10% ;
	margin-left:0.265%;
	margin-top: 0.5%;
}

#contenido .wrap{
	width:  25%;
	height: 72% ;
	margin-left:0.265%;
	margin-top: -2%;
	border-radius: 15px 15px 15px 15px;
}

#contenido .pestañas ul.tabs{
	width: 100%;

	list-style: none;
	display: flex;
	border-radius: 15px;
}

ul.tabs li {
	width: 50%
}

#contenido .pestañas ul.tabs li a{
	color: rgb(0,0,0);
	text-decoration: none;
	font-size: 100%;
	display: block;
	padding: 5% 0%;
	text-align: center;
}

.active{
	background:	#0984CC;
	border-radius: 25px 25px 25px 25px;
}

.secciones{
	width: 100%;
	background-image: url('../images/Blanco.jpg'); 
}

.secciones article{
	padding: 2%;
}



#contenido  #map {
	width: 74.5%;
	height: 100%;
	float: right;
	margin-top: 0%;
	margin-right: 0%;
	background: rgba(0,0,0,0.6);

}

#contenido .wrap .secciones #tab1 #Actual  {
	width: 95%;
	height: 90%;
	float: left;
	margin-top: 10%;
	margin-left:2.5%;
	background: rgba(9,132,204,1);
	text-align: center;
	border-radius: 15px;
}

#contenido .wrap .secciones #tab2 section {
	width: 100%;
	height: 100%;
	float: right;
	margin-top: 0%;
	margin-right: 0%;
	background: white;
}

#contenido .wrap .secciones #tab2 #HistorialFechaHora {
	width: 85%;
	height: 80%;
	float: left;
	margin-top: 40%;
	margin-left: 10%;
	background: rgba(9,132,204,1);
	text-align: center;
	line-height: 250%;
	color: #fff;
	border-radius: 15px;
}


#contenido .wrap .secciones #tab2 #tie {
	width: 80%;
	height: 30%;
	float: left;
	margin-top: -75%;
	margin-left: 10%;
	background: rgba(9,132,204,1);
	text-align: center;
	line-height: 250%;
	color: #fff;
	

}

#contenido .wrap .secciones #tab1 #Actual .informacion {
	text-align: left;
	padding: 2%;
	width: 25%;
	height: auto;
	margin-left: 5%;
}

#contenido .wrap .secciones #tab1 #Actual .informacion h1{
	color: #fff;
	font-size: 85%;
}

#contenido .wrap .secciones #tab1 #Actual .informacion h2{
	color: #fff;
	font-size: 85%;
}

#contenido .wrap .secciones #tab1 #Actual .automovil1 {
    text-align: center; 
    padding: 2%;
    width: 25%;
	height: auto;
    margin-left: 30%;
    margin-top: -106%;
}

#contenido .wrap .secciones #tab1 #Actual .automovil1 h1{
	color: #fff;
	font-size: 85%;
}

#contenido .wrap .secciones #tab1 #Actual .automovil1 p{
	color: #fff;
	font-size: 85%;
}

#contenido .wrap .secciones #tab1 #Actual .automovil2 {
    text-align: center; 
    padding: 2%;
    width: 25%;
    height: auto;
    margin-left: 63%;
    margin-top: -105.5%;
}

#contenido .wrap .secciones #tab1 #Actual .automovil2 h1{
	color: #fff;
	font-size: 85%;
}

#contenido .wrap .secciones #tab1 #Actual .automovil2 p{
	color: #fff;
	font-size: 85%;
}

#contenido .cars{
	width:  25%;
	height: 4.5% ;
	float: left;
	margin-top:-3.5%;
	margin-left:0.265%;
	background: rgba(256,256,256,1);
	text-align: center;
}

#contenido .cars  {
	padding: 0.5%
}


#contenido .cars  input {
	height: 20px;
	width: 20px;
}

#contenido .cars  label {
	width: 80%;
}